//colors
$bg-dark: #001724;
$bg-dark-secondary: #012f3e;
$bg-dark-contact: #002337;
$bg-bright-contact: rgb(222, 240, 220);
$bg-bright: #ebf3ec;
$bg-bright-secondary: #deeedf;

$primary-color: #efbe40;
//same as primary color
$tag-color: #efbe40;

$text: #b3f1d0;
//same as bg color
$text-dark: #001724;

$gray: #dcdcdc;

$error: #ff5b5b;
$error-bright: #ff0c0c;

//layout
$layout-side-padding: 75px;
$layout-side-padding-sm: 20px;
$layout-max-width: 1200px;

//breakpoints
$screen-sm-min: 0px;
$screen-md-min: 650px;
$screen-lg-min: 850px;
