.h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
}

.h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.h3, .timeline-container .event .event__name, .timeline-container .line-container .top-title, .btn.btn-contact, .btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.text-sm, .timeline-container .event .event__tags .tag {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
}

.text-xs, .timeline-container .event .event__date {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
}

.text-bold {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.text, .timeline-container .event, .timeline-container .line-point::after, .btn.btn-sm {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
}

.shadow, .timeline-container .event {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

.shadow-sm, .timeline-container .event .event__tags .tag {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
}
.btn.btn-sm {
  padding: 7px 15px;
}
.btn.btn-contact {
  background-color: #efbe40;
  color: #001724;
  width: auto;
  white-space: nowrap;
}
.btn.btn-animated {
  transition: transform ease-in-out 0.2s, color ease-in-out 0.2s;
}
.btn.btn-animated:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.timeline-container {
  position: relative;
  display: grid;
  grid-template-columns: [first-col] auto [sec-col] repeat(10, auto) [last-col];
  grid-template-rows: [first-row] 10px repeat(200, 10px) 10px [last-row];
  column-gap: 20px;
  padding: 0 50px;
}
@media (max-width: 849px) {
  .timeline-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .timeline-container > div:nth-child(2) {
    margin-top: 120px;
  }
  .timeline-container > div:last-child {
    margin-bottom: 100px;
  }
}
@media (max-width: 649px) {
  .timeline-container {
    padding: 0 25px;
  }
}
.timeline-container .line-container {
  grid-row: first-row/last-row;
  grid-column: first-col;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.timeline-container .line-container .top-title {
  padding-bottom: 20px;
}
@media (max-width: 849px) {
  .timeline-container .line-container {
    position: absolute;
  }
}
.timeline-container .line-container .triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom-width: 40px;
}
.timeline-container .line-container .rhombus {
  border-width: calc(35.7px / 2);
  transform: rotate(45deg);
}
.timeline-container .line-container .line {
  height: inherit;
  width: 0;
  border-width: 5px;
  position: relative;
}
@media (max-width: 849px) {
  .timeline-container .line-container .line {
    border-width: 3px;
  }
}
.timeline-container .circle, .timeline-container .line-point::before, .timeline-container .line-point {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.timeline-container .line-point {
  grid-column: first-col;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  top: 50%;
  justify-self: center;
}
.timeline-container .line-point::before {
  content: "";
  height: 50% !important;
  width: 50% !important;
  background-color: #efbe40 !important;
  right: 50%;
  transform: translate(50%, 0);
}
.timeline-container .line-point::after {
  position: absolute;
  left: 60px;
}
.timeline-container #y-2022 {
  grid-row: 40;
}
.timeline-container #y-2022::after {
  content: "2022";
}
.timeline-container #y-2021 {
  grid-row: 80;
}
.timeline-container #y-2021::after {
  content: "2021";
}
.timeline-container .event {
  background-color: #012f3e;
  position: relative;
  height: fit-content;
  padding: 20px 30px;
  display: grid;
  grid-column: 2/last-col;
  grid-template-areas: "name detail" "date detail" "tags tags" "description description";
  border: 2px solid #b3f1d0;
  border-radius: 20px;
}
@media (min-width: 850px) {
  .timeline-container .event {
    max-width: 500px;
  }
}
.timeline-container .event .event__name {
  grid-area: name;
}
.timeline-container .event .event__detail {
  grid-area: detail;
  background-color: #001724;
  border: 2px solid #efbe40;
  color: #efbe40;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  justify-self: end;
  align-self: center;
}
.timeline-container .event .event__description {
  grid-area: description;
  padding-top: 10px;
}
.timeline-container .event .event__tags {
  grid-area: tags;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
.timeline-container .event .event__tags .tag {
  background-color: #efbe40;
  color: #001724;
  border-radius: 20px;
  padding: 6px 12px;
}
.timeline-container .event .event__date {
  grid-area: date;
  padding-top: 5px;
}

body .appearance-border {
  border-color: #b3f1d0;
  border-style: solid;
  transition: border-color ease-in-out 0.2s, color ease-in-out 0.2s;
}
body .appearance-border-bottom {
  border-bottom-color: #b3f1d0;
  border-bottom-style: solid;
  transition: border-bottom-color ease-in-out 0.2s;
}
body .appearance-bg-color {
  background-color: #b3f1d0;
  transition: background-color ease-in-out 0.2s;
}
body .appearance-color {
  color: #001724;
  transition: color ease-in-out 0.2s;
}
body.bright {
  color: #001724;
  background-color: #e7f3ea;
}
body.bright .about {
  background-color: #cce3d2 !important;
}
body.bright .appearance-border {
  border-color: #001724;
}
body.bright .appearance-border-bottom {
  border-bottom-color: #001724;
}
body.bright .appearance-bg-color {
  background-color: #001724;
}
body.bright .appearance-color {
  color: white;
}
body.bright .background-image {
  opacity: 0.1 !important;
}
body.bright .appearance-toggle .moon {
  display: block;
}
body.bright .appearance-toggle .sun {
  display: none;
}
body .appearance-toggle .moon {
  display: none;
}
body .appearance-toggle .sun {
  display: block;
}

/*# sourceMappingURL=appearance.css.map */
