.h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
}

.h2, .contact .contact__container .contact__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.h3, .timeline-container .event-container .event .event__name, .timeline-container .line-container .top-title, .btn.btn-contact, .btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.text-sm, .form .form-control .form-checkbox {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
}

.text-xs, .form .form-control .error, .timeline-container .event-container .event .event__date {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 135%;
}

.text, .contact .contact__container .contact__info-grid, .form .form-control .input-wrapper input,
.form .form-control .input-wrapper textarea, .timeline-container .event-container .event, .timeline-container .line-point::after, .btn.btn-sm {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
}

.text-xl, .btn.btn-md {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 135%;
}

.text-xxl {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 135%;
}

.shadow, .timeline-container .event-container .event {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
}

.shadow-sm {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
}
.btn.btn-sm {
  padding: 7px 15px;
}
.btn.btn-md {
  padding: 7px 15px;
}
.btn.btn-contact {
  background-color: #efbe40;
  color: #001724;
  width: auto;
  white-space: nowrap;
}
.btn.btn-animated {
  transition: transform ease-in-out 0.2s, color ease-in-out 0.2s, border-color ease-in-out 0.2s, background-color ease-in-out 0.2s;
}
.btn.btn-animated:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: #b3f1d0;
  background-color: #001724;
  transition: background-color ease-in-out 0.2s;
}
body.bright {
  color: #001724;
  background-color: #ebf3ec;
}
body .appearance-border-text, body .form .form-control .input-wrapper, .form .form-control body .input-wrapper, body .timeline-container .event-container .event, .timeline-container .event-container body .event {
  border-color: #b3f1d0;
  border-style: solid;
  transition: border-color ease-in-out 0.2s, color ease-in-out 0.2s;
}
body.bright .appearance-border-text, body.bright .form .form-control .input-wrapper, .form .form-control body.bright .input-wrapper, body.bright .timeline-container .event-container .event, .timeline-container .event-container body.bright .event {
  border-color: #001724;
}
body .appearance-border-text-bottom {
  border-bottom-color: #b3f1d0;
  border-bottom-style: solid;
  transition: border-bottom-color ease-in-out 0.2s;
}
body.bright .appearance-border-text-bottom {
  border-bottom-color: #001724;
}
body .appearance-bg-color-text {
  background-color: #b3f1d0;
  transition: background-color ease-in-out 0.2s;
}
body.bright .appearance-bg-color-text {
  background-color: #001724;
}
body .appearance-bg-color {
  background-color: #001724;
  transition: background-color ease-in-out 0.2s;
}
body.bright .appearance-bg-color {
  background-color: #ebf3ec;
}
body .appearance-bg-color-reverse {
  background-color: #ebf3ec;
  color: #001724;
  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}
body.bright .appearance-bg-color-reverse {
  background-color: #001724;
  color: #ebf3ec;
}
body .appearance-bg-color-secondary, body .timeline-container .event-container .event, .timeline-container .event-container body .event {
  background-color: #012f3e;
  transition: background-color ease-in-out 0.2s;
}
body.bright .appearance-bg-color-secondary, body.bright .timeline-container .event-container .event, .timeline-container .event-container body.bright .event {
  background-color: #deeedf;
}
body .appearance-services-box {
  border-width: 1px;
  border-color: #b3f1d0;
}
body .appearance-services-box:hover, body .appearance-services-box:active {
  background-color: #012f3e;
  border-color: #012f3e;
}
body.bright .appearance-services-box {
  border-width: 3px;
  border-color: #012f3e;
}
body.bright .appearance-services-box:hover, body.bright .appearance-services-box:active {
  background-color: #deeedf;
  border-color: #deeedf;
}
body.bright .appearance-services-box .services__box_text {
  font-weight: 600 !important;
}
body .appearance-bg-color-contact, body .contact {
  background-color: #002337;
  transition: background-color ease-in-out 0.2s;
}
body.bright .appearance-bg-color-contact, body.bright .contact {
  background-color: #ccebc8;
}
body .appearance-color-text-dark {
  color: #001724;
  transition: color ease-in-out 0.2s;
}
body.bright .appearance-color-text-dark {
  color: black;
}
body .appearance-toggle .moon {
  display: none;
}
body .appearance-toggle .sun {
  display: block;
}
body.bright .appearance-toggle .moon {
  display: block;
}
body.bright .appearance-toggle .sun {
  display: none;
}
body.bright .background-image {
  opacity: 0.1 !important;
}
body.bright .event__detail {
  background-color: #ebf3ec !important;
  border-color: #001724 !important;
  color: #001724 !important;
}

.timeline-container {
  position: relative;
  display: grid;
  grid-template-columns: [first-col] auto [sec-col] repeat(10, auto) [last-col];
  grid-template-rows: [first-row] 50px 50px repeat(200, auto) 50px 50px [last-row];
  column-gap: 20px;
}
@media (max-width: 849px) {
  .timeline-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .timeline-container > div:nth-child(2) {
    margin-top: 120px;
  }
  .timeline-container > div:last-child {
    margin-bottom: 100px;
  }
}
@media (max-width: 649px) {
  .timeline-container {
    padding: 0 20px;
  }
}
.timeline-container .line-container {
  grid-row: first-row/last-row;
  grid-column: first-col;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.timeline-container .line-container .top-title {
  padding-bottom: 20px;
}
@media (max-width: 849px) {
  .timeline-container .line-container {
    position: absolute;
  }
}
.timeline-container .line-container .triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom-width: 40px;
}
.timeline-container .line-container .rhombus {
  border-width: 17.85px;
  transform: rotate(45deg);
}
.timeline-container .line-container .line {
  height: inherit;
  width: 0;
  border-width: 5px;
  position: relative;
}
.timeline-container .circle, .timeline-container .line-point::before, .timeline-container .line-point {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.timeline-container .line-point {
  grid-column: first-col;
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  top: 50%;
  justify-self: center;
}
.timeline-container .line-point::before {
  content: "";
  height: 50% !important;
  width: 50% !important;
  background-color: #efbe40 !important;
  right: 50%;
  transform: translate(50%, 0);
}
.timeline-container .line-point::after {
  position: absolute;
  left: 60px;
  content: attr(data-year);
}
.timeline-container .event-container {
  width: 100%;
  grid-column: 2/last-col;
}
@media (min-width: 850px) {
  .timeline-container .event-container {
    margin-bottom: 20px;
  }
}
.timeline-container .event-container .event {
  position: relative;
  height: fit-content;
  padding: 20px 30px;
  display: grid;
  column-gap: 8px;
  grid-template-areas: "name detail" "date detail" "tags tags" "description description";
  border-width: 2px;
  opacity: 0;
  transition: opacity ease-in-out 0.5s, background-color ease-in-out 0.2s, border-color ease-in-out 0.2s !important;
  border-radius: 20px;
}
@media (max-width: 649px) {
  .timeline-container .event-container .event {
    padding: 10px 15px;
  }
}
.timeline-container .event-container .event.show {
  opacity: 1;
}
.timeline-container .event-container .event .event__name {
  grid-area: name;
}
@media (max-width: 649px) {
  .timeline-container .event-container .event .event__name {
    font-size: 30px;
  }
}
.timeline-container .event-container .event .event__detail {
  grid-area: detail;
  background-color: #001724;
  border: 2px solid #efbe40;
  color: #efbe40;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  justify-self: end;
  align-self: center;
}
.timeline-container .event-container .event .event__description {
  grid-area: description;
  padding-top: 10px;
}
.timeline-container .event-container .event .event__date {
  grid-area: date;
  padding-top: 5px;
}

.form .form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form .form-control .input-wrapper {
  height: 100%;
  padding: 5px 20px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  background-color: white;
}
.form .form-control .input-wrapper input,
.form .form-control .input-wrapper textarea {
  width: 100%;
  border: 0;
  appearance: none;
}
.form .form-control .input-wrapper input:focus,
.form .form-control .input-wrapper textarea:focus {
  outline: none;
}
.form .form-control .input-wrapper textarea {
  resize: none;
  min-height: 300px;
}
.form .form-control .form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form .form-control .form-checkbox .input-wrapper {
  padding: 0;
  border-radius: 5px;
}
.form .form-control .form-checkbox .input-wrapper input {
  appearance: auto;
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  margin: 0;
  cursor: pointer;
  background-color: #ebf3ec;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.2s;
}
.form .form-control .form-checkbox .input-wrapper input:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 20px;
  color: #002337;
  transition: all ease-in-out 0.2s;
  opacity: 0;
}
.form .form-control .form-checkbox .input-wrapper input:hover {
  background-color: #dcdcdc;
}
.form .form-control .form-checkbox .input-wrapper input:checked {
  background-color: #b3f1d0;
}
.form .form-control .form-checkbox .input-wrapper input:checked:after {
  opacity: 1;
}
.form .form-control .form-checkbox label {
  cursor: pointer;
}
.form .form-control .error {
  padding: 4px 0 8px 0;
  color: #ff5b5b;
  opacity: 0;
  max-height: 0;
  transition: max-height ease-in-out 0.2s;
}
.form .form-control.has-error .input-wrapper {
  border-color: #ff5b5b !important;
}
.form .form-control.has-error .error {
  opacity: 1;
  max-height: 50px;
}
.form .form-control .submit-btn {
  margin-top: 10px;
  width: min-content;
}
@media (max-width: 849px) {
  .form .form-control .submit-btn {
    align-self: center;
  }
}

.bright .error {
  font-weight: 500 !important;
  color: #ff0c0c !important;
}

.bright .form-checkbox input:checked {
  background-color: #012f3e !important;
}
.bright .form-checkbox input:after {
  color: #ccebc8 !important;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 75px 0;
}
.contact .contact__container {
  width: 100%;
  display: grid;
  grid-template-areas: "title form" "info form";
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
}
@media (max-width: 849px) {
  .contact .contact__container {
    grid-template-areas: "title" "form" "info";
    grid-template-columns: 1fr;
  }
}
.contact .contact__container .contact__title {
  grid-area: title;
}
@media (max-width: 849px) {
  .contact .contact__container .contact__title {
    font-size: 35px;
    text-align: center;
  }
}
.contact .contact__container .contact__info-grid {
  grid-area: info;
  align-self: end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "name" "cities" "email" "socials";
  column-gap: 4px;
  row-gap: 3px;
  width: 100%;
}
.contact .contact__container .contact__info-grid .contact__name {
  grid-area: name;
}
.contact .contact__container .contact__info-grid .socials {
  grid-area: socials;
}
@media (max-width: 849px) and (min-width: 650px) {
  .contact .contact__container .contact__info-grid .socials {
    justify-self: end;
  }
}
.contact .contact__container .contact__info-grid .contact__cities {
  grid-area: cities;
}
.contact .contact__container .contact__info-grid .contact__email {
  grid-area: email;
}
@media (max-width: 849px) and (min-width: 650px) {
  .contact .contact__container .contact__info-grid .contact__email {
    justify-self: end;
  }
}
@media (max-width: 849px) and (min-width: 650px) {
  .contact .contact__container .contact__info-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name socials" "cities email";
  }
}
@media (max-width: 649px) {
  .contact .contact__container .contact__info-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "name" "cities" "email" "socials";
  }
  .contact .contact__container .contact__info-grid span,
  .contact .contact__container .contact__info-grid div,
  .contact .contact__container .contact__info-grid a {
    justify-self: center;
  }
}
.contact .contact__container .contact__form {
  grid-area: form;
  justify-self: end;
  width: 100%;
  max-height: 620px;
  transition: max-height ease-in-out 0.5s, opacity ease-in-out 0.5s;
  opacity: 1;
}
.contact .contact__container .contact__form.hide {
  max-height: 0;
  opacity: 0;
  overflow-y: hidden;
}
.contact .contact__container .contact__form label a {
  text-decoration: underline;
}
.contact .contact__container .contact__thank-you {
  grid-area: form;
  background-color: #efbe40;
  color: #001724;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  position: relative;
  transform: scale(0);
  transform-origin: 0 100%;
  transition: transform ease-in-out 0.5s;
}
@media (max-width: 849px) {
  .contact .contact__container .contact__thank-you {
    transform-origin: 50% 100%;
  }
}
.contact .contact__container .contact__thank-you.show {
  transform: scale(1);
}
.contact .contact__container .contact__thank-you .contact__thank-you_container {
  padding: 40px 50px;
  width: 100%;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: 1fr auto;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-areas: "title title" "text icon";
}
@media (max-width: 649px) {
  .contact .contact__container .contact__thank-you .contact__thank-you_container {
    padding: 20px 25px;
  }
}
@media (max-width: 649px) {
  .contact .contact__container .contact__thank-you .contact__thank-you_container {
    grid-template-areas: "title icon" "text text";
  }
}
.contact .contact__container .contact__thank-you .contact__thank-you_container .thank-you__title {
  grid-area: title;
}
@media (max-width: 649px) {
  .contact .contact__container .contact__thank-you .contact__thank-you_container .thank-you__title {
    font-size: 35px;
  }
}
.contact .contact__container .contact__thank-you .contact__thank-you_container .thank-you__text {
  grid-area: text;
}
@media (max-width: 649px) {
  .contact .contact__container .contact__thank-you .contact__thank-you_container .thank-you__text {
    font-size: 25px;
  }
}
.contact .contact__container .contact__thank-you .contact__thank-you_container .thank-you__icon {
  grid-area: icon;
  justify-self: end;
  font-size: 30px;
}

/*# sourceMappingURL=contact.css.map */
