@charset "UTF-8";
.h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
}

.h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.h3, .timeline-container .line-container .top-title, .btn.btn-contact, .btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.text-sm, body .container .hp .hp-grid .contact-email {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
}

.text-bold {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.text, body .appearance-toggle.absolute, body .container nav .navigation, .timeline-container .line-container .line .line-point::after, .btn.btn-sm {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
}

.shadow {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
}

.shadow-bg {
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.05);
}

.shadow-sm {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
}

.shadow-sm-menu {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
}
.btn.btn-sm {
  padding: 7px 15px;
}
.btn.btn-contact {
  background-color: #efbe40;
  color: #001724;
  width: auto;
  white-space: nowrap;
}
.btn.btn-animated {
  transition: transform ease-in-out 0.2s, color ease-in-out 0.2s;
}
.btn.btn-animated:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.timeline-container {
  padding: 25px 50px;
}
.timeline-container .line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  height: 100%;
}
.timeline-container .line-container .top-title {
  padding-bottom: 20px;
}
.timeline-container .line-container .triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom-width: 40px;
}
.timeline-container .line-container .rhombus {
  border-width: calc(35.7px / 2);
  transform: rotate(45deg);
}
.timeline-container .line-container .line {
  height: inherit;
  width: 0;
  border-width: 5px;
  position: relative;
}
.timeline-container .line-container .line .line-point {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.timeline-container .line-container .line .line-point::before {
  content: "";
  height: 25px !important;
  width: 25px !important;
  background-color: #efbe40 !important;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
}
.timeline-container .line-container .line .line-point::after {
  position: absolute;
  right: 75px;
}
.timeline-container .line-container .line #y2022 {
  top: 100px;
}
.timeline-container .line-container .line #y2022::after {
  content: "2022";
}
.timeline-container .line-container .line #y2021 {
  top: 300px;
}
.timeline-container .line-container .line #y2021::after {
  content: "2021";
}
.timeline-container .line-container .circle, .timeline-container .line-container .line .line-point, .timeline-container .line-container .line .line-point::before {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

body {
  color: #b3f1d0;
  background-color: #001724;
  transition: background-color ease-in-out 0.2s;
  margin: 0;
}
body .appearance-border {
  border-color: #b3f1d0;
  border-style: solid;
  transition: border-color ease-in-out 0.2s, color ease-in-out 0.2s;
}
body .appearance-border-bottom {
  border-bottom-color: #b3f1d0;
  border-bottom-style: solid;
  transition: border-bottom-color ease-in-out 0.2s;
}
body .appearance-bg-color {
  background-color: #b3f1d0;
  transition: background-color ease-in-out 0.2s;
}
body .appearance-color {
  color: #001724;
  transition: color ease-in-out 0.2s;
}
body.bright {
  color: #001724;
  background-color: #e7f3ea;
}
body.bright .appearance-border {
  border-color: #001724;
}
body.bright .appearance-border-bottom {
  border-bottom-color: #001724;
}
body.bright .appearance-bg-color {
  background-color: #001724;
}
body.bright .appearance-color {
  color: white;
}
body.bright .timeline-frame-scroll {
  background-color: #cce3d2 !important;
}
body.bright .background-image {
  opacity: 0.1 !important;
}
body.bright .appearance-toggle .moon {
  display: block;
}
body.bright .appearance-toggle .sun {
  display: none;
}
body .appearance-toggle .moon {
  display: none;
}
body .appearance-toggle .sun {
  display: block;
}
body .container {
  min-height: 100vh;
  padding: 0 75px;
  background-color: inherit;
}
@media (max-width: 649px) {
  body .container {
    padding: 0 25px;
  }
}
body .container > div {
  max-width: 1200px;
  margin: auto;
}
body .container nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  width: 100%;
  right: 50%;
  transform: translate(50%);
  z-index: 3;
}
body .container nav.hidden {
  top: -70px;
}
body .container nav.fixed {
  transition: top ease-in-out 0.2s;
  background-color: inherit;
  transform: initial;
}
body .container nav.fixed .navigation {
  right: 50%;
  transform: translate(50%);
  position: fixed;
  background-color: inherit;
}
body .container nav.fixed .navigation .nav-contact-btn {
  display: block;
}
body .container nav .navigation {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  width: calc( 					min( 						100% - 150px, 						1200px 					) 				);
}
body .container nav .navigation .nav-contact-btn {
  display: none;
}
@media (max-width: 649px) {
  body .container nav .navigation {
    width: calc( 						min( 							100% - 50px, 							1200px 						) 					);
  }
}
body .container nav .navigation .title-part {
  gap: 10px;
  display: flex;
  align-items: center;
}
body .container nav .navigation .menu {
  gap: 30px;
  display: flex;
  align-items: center;
}
body .container nav .navigation .menu .menu-items {
  display: flex;
  gap: inherit;
  align-items: inherit;
  white-space: nowrap;
}
@media (max-width: 849px) {
  body .container nav .navigation .menu .menu-items {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background-color: #012f3e;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    top: 70px;
    left: 0;
    gap: 15px;
    width: 100%;
    overflow: hidden;
    border-radius: 25px;
    transition: max-height ease-in-out 0.35s, padding-top ease-in-out 0.35s, padding-bottom ease-in-out 0.35s;
  }
  body .container nav .navigation .menu .menu-items.collapsed {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 150px;
  }
}
body .container nav .navigation .menu .appearance-toggle {
  display: none;
}
@media (max-width: 649px) {
  body .container nav .navigation .menu .appearance-toggle {
    display: block;
  }
}
body .container nav .navigation .menu .menu-bars {
  padding: 2px 12px;
  border-width: 1px;
}
@media (min-width: 850px) {
  body .container nav .navigation .menu .menu-bars {
    display: none;
  }
}
body .container nav .navigation .logo {
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 50px;
}
body .container nav .navigation .logo img {
  width: 100%;
  height: 100%;
}
body .container .hp {
  display: flex;
  min-height: 100vh;
  align-items: center;
}
body .container .hp .background-image {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100vh;
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}
body .container .hp .background-image img {
  height: 100%;
}
body .container .hp .hp-grid {
  display: grid;
  z-index: 2;
}
@media (min-width: 850px) {
  body .container .hp .hp-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px repeat(3, auto) 100px;
    grid-template-areas: "logo text1 text1" "logo text2 text2" "logo text3 text3" "logo text4 text4" "email email button";
    column-gap: 50px;
    row-gap: 20px;
  }
}
@media (max-width: 849px) {
  body .container .hp .hp-grid {
    margin-top: 80px;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "text1 text1" "text2 text2" "text3 text3" "email text4" "button button";
    column-gap: 20px;
    row-gap: 20px;
  }
}
body .container .hp .hp-grid .top-heading {
  grid-area: header;
  justify-self: center;
}
@media (max-width: 849px) {
  body .container .hp .hp-grid .top-heading {
    display: none;
  }
}
body .container .hp .hp-grid .content-logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  border-radius: 50px;
  max-height: 400px;
}
body .container .hp .hp-grid .content-logo img {
  width: 100%;
}
@media (max-width: 849px) {
  body .container .hp .hp-grid .content-logo {
    display: none;
  }
}
body .container .hp .hp-grid .name {
  grid-area: text1;
  display: flex;
  gap: 15px;
}
@media (max-width: 849px) {
  body .container .hp .hp-grid .name {
    align-self: end;
  }
}
body .container .hp .hp-grid .profession {
  grid-area: text2;
  display: flex;
  gap: 15px;
}
body .container .hp .hp-grid .description {
  grid-area: text3;
  display: flex;
  gap: 15px;
}
body .container .hp .hp-grid .socials {
  grid-area: text4;
  align-self: end;
  display: flex;
  gap: 15px;
}
@media (max-width: 849px) {
  body .container .hp .hp-grid .socials {
    justify-self: end;
  }
}
body .container .hp .hp-grid .contact-btn {
  grid-area: button;
  align-self: center;
  justify-self: end;
}
@media (max-width: 849px) {
  body .container .hp .hp-grid .contact-btn {
    justify-self: center;
  }
}
body .container .hp .hp-grid .contact-email {
  grid-area: email;
  align-self: center;
  white-space: nowrap;
  flex: 1;
}
body .container .hp .hp-grid .contact-email a::before {
  content: "–⁠–⁠–⁠–⁠–⁠–⁠–⁠–⁠";
  margin-right: 10px;
}
body .container .about {
  height: 100vh;
}
body .container .about .about-container {
  padding: 10vh 0 5vh 0;
}
body .container .about .about-container .timeline-frame {
  border-radius: 25px;
  overflow: hidden;
}
body .container .about .about-container .timeline-frame .timeline-frame-scroll {
  background-color: #012f3e;
  transition: background-color ease-in-out 0.2s;
  overflow-y: scroll;
  height: 85vh;
}
body .container .about .about-container .timeline-frame .timeline-frame-scroll::-webkit-scrollbar-track {
  background: inherit;
}
body .container .about .about-container .timeline-frame .timeline-frame-scroll::-webkit-scrollbar {
  width: 8px;
}
body .container .about .about-container .timeline-frame .timeline-frame-scroll .timeline-container {
  height: 2000px;
}
body .appearance-toggle.absolute {
  position: fixed;
  z-index: 3;
  top: 22px;
  right: 30px;
}
@media (max-width: 649px) {
  body .appearance-toggle.absolute {
    display: none;
  }
}
body a,
body button {
  transition: color ease-in-out 0.2s, border-color ease-in-out 0.2s;
}
body a:hover,
body button:hover {
  color: #efbe40;
  border-color: #efbe40 !important;
}

/*# sourceMappingURL=styles.css.map */
