.h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
}

.h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.h3, .timeline-container .events .event .event__name, .timeline-container .line-container .top-title, .btn.btn-contact, .btn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.02em;
}

.text-sm {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 135%;
}

.text-bold {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.text, .timeline-container .events .event, .timeline-container .line-container .line .line-point::after, .btn.btn-sm {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
}

.shadow {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
}

.shadow-bg {
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.05);
}

.shadow-sm {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
}

.shadow-sm-menu {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
}
.btn.btn-sm {
  padding: 7px 15px;
}
.btn.btn-contact {
  background-color: #efbe40;
  color: #001724;
  width: auto;
  white-space: nowrap;
}
.btn.btn-animated {
  transition: transform ease-in-out 0.2s, color ease-in-out 0.2s;
}
.btn.btn-animated:hover {
  transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.timeline-container {
  padding: 25px 50px;
}
@media (max-width: 849px) {
  .timeline-container {
    padding: 25px 15px;
  }
}
.timeline-container .line-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min-content;
  height: 100%;
}
@media (max-width: 849px) {
  .timeline-container .line-container {
    margin: 0;
    margin-left: auto;
  }
}
.timeline-container .line-container .top-title {
  padding-bottom: 20px;
}
@media (max-width: 849px) {
  .timeline-container .line-container .top-title {
    font-size: 18px;
    font-weight: 500;
  }
}
.timeline-container .line-container .triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom-width: 40px;
}
.timeline-container .line-container .rhombus {
  border-width: calc(35.7px / 2);
  transform: rotate(45deg);
}
.timeline-container .line-container .line {
  height: inherit;
  width: 0;
  border-width: 5px;
  position: relative;
}
@media (max-width: 849px) {
  .timeline-container .line-container .line {
    border-width: 3px;
  }
}
.timeline-container .line-container .line .line-point {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.timeline-container .line-container .line .line-point::before {
  content: "";
  height: 50% !important;
  width: 50% !important;
  background-color: #efbe40 !important;
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
}
.timeline-container .line-container .line .line-point::after {
  position: absolute;
  left: 60px;
}
@media (max-width: 849px) {
  .timeline-container .line-container .line .line-point::after {
    left: 40px;
    font-size: 15px;
  }
}
.timeline-container .line-container .line #y2022 {
  top: 100px;
}
.timeline-container .line-container .line #y2022::after {
  content: "2022";
}
.timeline-container .line-container .line #y2021 {
  top: 300px;
}
.timeline-container .line-container .line #y2021::after {
  content: "2021";
}
.timeline-container .line-container .circle, .timeline-container .line-container .line .line-point, .timeline-container .line-container .line .line-point::before {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
@media (max-width: 849px) {
  .timeline-container .line-container .circle, .timeline-container .line-container .line .line-point, .timeline-container .line-container .line .line-point::before {
    height: 30px;
    width: 30px;
  }
}
.timeline-container .events .event {
  display: grid;
  grid-template-areas: "name detail" "description description" "tags tags";
}
.timeline-container .events .event .event__name {
  grid-area: name;
}
.timeline-container .events .event .event__detail {
  grid-area: detail;
}
.timeline-container .events .event .event__description {
  grid-area: description;
}
.timeline-container .events .event .event__tags {
  grid-area: tags;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.timeline-container .events .event .event__tags .tag {
  background-color: #efbe40;
  color: #001724;
  border-radius: 20px;
  padding: 15px 10px;
}

/*# sourceMappingURL=timeline.css.map */
