@import "services";
.cookiebar-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: $bg-dark-contact;
  z-index: 2;
  display: flex;
  justify-content: center;
  box-shadow: 0px -15px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(100%);
  &.show {
    transform: translateY(0px);
    position: sticky;
  }
  .cookiebar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 35px;
    max-width: $layout-max-width;
    width: calc(min(100% - #{$layout-side-padding * 2}, #{$layout-max-width}));
    @include sm {
      width: calc(
        min(100% - #{$layout-side-padding-sm * 2}, #{$layout-max-width})
      );
    }
    margin: 30px 0px;
    @include sm-md {
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
      margin: 20px 0px;
    }
    .cookiebar-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      #cookiebar-title {
        @extend .text;
      }
      #cookiebar-description {
        @extend .text-xs;
      }
    }
    .cookiebar-actions {
      display: flex;
      flex-direction: row;
      column-gap: 30px;
      align-items: center;
      @include sm {
        flex-direction: column;
        width: 100%;
        row-gap: 15px;
      }
      #cookiebar-settings-btn {
        @extend .text-xs;
        white-space: nowrap;
        text-decoration: underline;
      }
      #cookiebar-allow-all-btn {
        height: fit-content;
      }
    }
  }
}
