@import "modal";
.services {
  margin: 20px $layout-side-padding 100px $layout-side-padding;
  max-width: $layout-max-width;
  width: calc(min(100% - #{$layout-side-padding * 2}, #{$layout-max-width}));
  @include sm-md {
    margin: 20px 0 100px 0;
  }
  @include sm {
    width: calc(
      min(100% - #{$layout-side-padding-sm * 2}, #{$layout-max-width})
    );
  }
  .services__title {
    padding-bottom: 25px;
    @include sm-md {
      font-size: 30px;
    }
  }
  .services__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @include sm-md {
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
      .services__box {
        grid-column: span 1 !important;
      }
      gap: 15px;
    }

    .services__box {
      position: relative;
      grid-column: span 2;
      border-radius: 20px;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 200px;
      padding: 100% 10px 0 10px;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      overflow: hidden;
      &:nth-child(4),
      &:nth-child(5) {
        @include lg {
          grid-column: span 3;
          padding: 50% 10px 0 10px;
        }
      }

      @include lg {
        &:hover {
          .services__box_img {
            opacity: 0;
          }
          .services__box_text_container {
            top: calc(10%);
            .services__box_description {
              opacity: 1;
            }
          }
        }
      }

      .services__box_text_container {
        position: absolute;
        top: calc(100% - 90px);
        padding: 0 15px;
        transition: top ease-in-out 0.2s;
        height: 100%;

        .services__box_title {
          padding-bottom: 25px;

          @extend .text-xl;
          font-size: 28px;
          @include sm {
            font-size: 22px;
          }
        }
        .services__box_description {
          opacity: 0;
          @extend .text;
          height: 100%;
          overflow: hidden;
        }
      }

      .services__box_img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        //opacity: 0;
        transition: opacity ease-in-out 0.2s;
        background-color: $bg-bright;
        img {
          height: 100%;
        }
      }

      .services__box_overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          to top,
          rgba($bg-dark, 1),
          rgba($bg-dark, 0)
        );
        height: 75%;
        width: 100%;
      }

      .services__box_glass {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        opacity: 0;
        transition: opacity ease-in-out 0.2s;
        @include lg {
          font-size: 22px;
        }
        @include sm-md {
          opacity: 1;
        }
        background-image: radial-gradient(
          circle at top right,
          rgba(#484848, 1) 0%,
          rgba($bg-dark, 0) 60%
        );
        i {
          padding: 20px;
        }
      }
    }
  }
}
