@import "cookiebar";

.skills {
  margin: 20px $layout-side-padding 50px $layout-side-padding;
  max-width: $layout-max-width;
  width: calc(min(100% - #{$layout-side-padding * 2}, #{$layout-max-width}));

  @include sm-md {
    margin: 20px 0 50px 0;
  }

  @include sm {
    width: calc(min(100% - #{$layout-side-padding-sm * 2}, #{$layout-max-width}));
  }

  .skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @include sm {
      
      .skills-load-more {
        display: block;
      }
      .skills__grid-container {
        max-height: 3000px;
        overflow: hidden;
        //transition: max-height 0.5s ease-in-out;
        
      }
      &.unloaded {
        .skills__grid-container {
          max-height: 450px;
          position: relative;


          .skills__grid::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 50px;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), $bg-dark);
          }
          
        }

      }
    }
  }

  .skills-load-more {
    display: none;
  }
  .skills__grid {

    @extend .text-sm;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    @include md {
      grid-template-columns: 1fr 1fr;
    }

    @include sm {
      grid-template-columns: 1fr;
    }

    .skill {
      @extend .shadow;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 15px;
      border: 2px solid #0a3044;
      border-radius: 10px;
      background-color: #00121c;
      justify-content: space-between;


      &.type_back-end {
        background-color: $bg-dark-secondary;
      }

      &.type_front-end {
        background-color: #5f2a83;
      }

      &.type_other {
        background-color: #72152b;
      }

      .skill-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .skill-name {
          font-size: 1.2em;
          font-weight: bold;
        }

        .skill-value {
          font-size: 1em;
          @extend .text-xs;
        }
      }

      .skill-desc {
        margin-top: 3px;
        @extend .text-xs;
      }


      .skill-bar {
        width: 100%;
        height: 10px;
        background: #e0e0e0;
        border-radius: 5px;
        margin-top: 10px;
        overflow: hidden;
        position: relative;
        /* relative here */

        &__fill {
          height: 100%;
          -webkit-mask: linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0);
          border-radius: 5px;

          &.unactive {
            width: .1% !important;
          }

          &.duration-1 {
            transition: width 0.3s ease;
          }

          &.duration-2 {
            transition: width 0.4s ease;
          }

          &.duration-3 {
            transition: width 0.5s ease;
          }

          &.duration-4 {
            transition: width 0.6s ease;
          }

          &.duration-5 {
            transition: width 0.7s ease;
          }

          &.duration-6 {
            transition: width 0.8s ease;
          }

          &.duration-7 {
            transition: width 0.9s ease;
          }

          &.duration-8 {
            transition: width 1s ease;
          }

          &.duration-9 {
            transition: width 1.1s ease;
          }

          &.duration-10 {
            transition: width 1.2s ease;
          }
        }

        &__fill::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(to right, $error, #ffee55 90%);

        }
      }
    }
  }
}