@import "timeline";

body {
	color: $text;
	background-color: $bg-dark;
	transition: background-color ease-in-out 0.2s;
	&.bright {
		color: $text-dark;
		background-color: $bg-bright;
	}

	.appearance-border {
		border-color: $text;
		border-style: solid;
		transition: border-color ease-in-out 0.2s, color ease-in-out 0.2s;
	}
	&.bright .appearance-border {
		border-color: $text-dark;
	}

	.appearance-border-bottom {
		border-bottom-color: $text;
		border-bottom-style: solid;
		transition: border-bottom-color ease-in-out 0.2s;
	}
	&.bright .appearance-border-bottom {
		border-bottom-color: $text-dark;
	}

	.appearance-bg-color {
		background-color: $text;
		transition: background-color ease-in-out 0.2s;
	}
	&.bright .appearance-bg-color {
		background-color: $text-dark;
	}

	.appearance-color {
		color: $text-dark;
		transition: color ease-in-out 0.2s;
	}
	.bright .appearance-color {
		color: white;
	}

	.appearance-toggle {
		.moon {
			display: none;
		}
		.sun {
			display: block;
		}
	}
	&.bright .appearance-toggle {
		.moon {
			display: block;
		}
		.sun {
			display: none;
		}
	}

	&.bright {
		.about {
			background-color: $bg-bright-secondary !important;
		}

		.background-image {
			opacity: 0.1 !important;
		}
	}
}
