@import "contact";

html.fixed {
	overflow-y: hidden;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	transform: scale(0);

	&.show {
		transform: scale(1);
		transition: all 0.3s ease-in-out;
	}

	.modal__container {
		position: relative;
		display: flex;

		max-height: 100vh;
		overflow-y: auto;
		@include sm-md {
			flex-direction: column;
		}
	}

	.modal__close-button {
		position: fixed;
		top: 20px;
		right: 20px;
		border-radius: 50%;
		color: $bg-dark;
	}

	.modal__img {
		flex: 2;
		overflow: hidden;
		@include sm {
			min-height: 300px;
		}
		img {
			width: 100%;
		}
	}

	.modal__body {
		flex: 3;
		margin: 50px auto;
		display: flex;
		flex-direction: column;
		gap: 5px;

		.modal__body_title {
			@extend .h1;

			@include sm-md {
				font-size: 35px;
			}
		}

		.modal__body_text {
			@extend .text-xl;

			@include sm-md {
				font-size: 22px;
			}
		}
	}
}
