@import "appearance";

body {
	margin: 0;

	.container {
		min-height: 100vh;
		background-color: inherit;
		display: flex;
		flex-direction: column;
		align-items: center;
		.section {
			padding: 0 $layout-side-padding;
			@include sm {
				padding: 0 $layout-side-padding-sm;
			}
			max-width: $layout-max-width;
		}

		nav {
			padding: 0 $layout-side-padding;
			@include sm {
				padding: 0 $layout-side-padding-sm;
			}
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			top: 0;
			width: 100%;
			right: 50%;
			transform: translate(50%);
			z-index: 3;
			&.hidden {
				top: -70px;
				.menu {
					&.collapsed {
						.menu-items {
							max-height: 0 !important;
							padding-top: 0 !important;
							padding-bottom: 0 !important;
							transition: initial !important;
						}
					}
				}
			}
			&.fixed {
				transition: top ease-in-out 0.2s;
				background-color: inherit;
				transform: initial;
				.navigation-container {
					.navigation {
					}
					right: 50%;
					transform: translate(50%);
					position: fixed;
					background-color: inherit;
					.nav-contact-btn {
						display: block;
					}
				}
			}
			.navigation-container {
				display: flex;
				justify-content: center;
				width: 100%;
			}
			.navigation {
				@extend .text;

				padding: 10px 0;
				display: flex;
				justify-content: space-between;
				background-color: transparent;
				align-items: center;
				max-width: $layout-max-width;
				width: calc(
					min(
						100% - #{$layout-side-padding * 2},
						#{$layout-max-width}
					)
				);
				.nav-contact-btn {
					display: none;
				}

				@include sm {
					width: calc(
						min(
							100% - #{$layout-side-padding-sm * 2},
							#{$layout-max-width}
						)
					);
				}
				.title-part {
					gap: 10px;
					display: flex;
					align-items: center;
				}
				.menu {
					gap: 30px;
					display: flex;
					align-items: center;
					.bars {
						display: block;
					}
					.times {
						display: none;
					}
					&.collapsed {
						.menu-items {
							padding-top: 10px;
							max-height: 150px;
						}
						.bars {
							display: none;
						}
						.times {
							display: block;
						}
					}
					.menu-items {
						display: flex;
						gap: inherit;
						align-items: inherit;
						@include sm-md {
							display: flex;
							position: absolute;

							flex-direction: column;
							justify-content: center;
							background-color: $bg-dark-secondary;
							max-height: 0;
							padding-top: 0;
							padding-bottom: 0;
							border-radius: 0 0 10px 10px;
							top: 70px;
							left: 0;
							gap: 15px;
							width: 100%;
							overflow: hidden;
							transition: max-height ease-in-out 0.35s,
								padding-top ease-in-out 0.35s,
								padding-bottom ease-in-out 0.35s;

							&::after {
								content: "";
								display: block;
								height: 5px;
								width: 100%;
								background-color: $tag-color;
							}
						}
						white-space: nowrap;
					}
					.appearance-toggle {
						display: none;
						@include sm {
							display: block;
						}
					}

					.menu-bars {
						padding: 2px 12px;
						border-width: 1px;
						min-width: 44px;
						@include lg {
							display: none;
						}
					}
				}

				.logo {
					max-width: 50px;
					max-height: 50px;
					overflow: hidden;
					border-radius: 50px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.hp {
			display: flex;
			min-height: calc(min(100vh, 1200px));
			align-items: center;
			.background-image {
				position: absolute;
				right: 0;
				z-index: 1;
				height: 100%;
				max-height: 1200px;
				opacity: 1;
				transition: opacity ease-in-out 0.2s;
				img {
					height: 100%;
				}
			}
			.hp-grid {
				display: grid;
				z-index: 2;
				@include lg {
					grid-template-columns: repeat(3, 1fr);
					grid-template-rows:
						100px repeat(3, auto)
						100px;
					grid-template-areas:
						"logo text1 text1"
						"logo text2 text2"
						"logo text3 text3"
						"logo text4 text4"
						"email email button";
					column-gap: 50px;
					row-gap: 20px;
				}
				@include sm-md {
					margin-top: 80px;
					grid-template-columns: repeat(2, auto);
					grid-template-rows:
						repeat(5, auto)
						150px;
					grid-template-areas:
						"text1 text1"
						"text2 text2"
						"logo logo"
						"text3 text3"
						"email text4"
						"button button";
					column-gap: 15px;
					row-gap: 20px;
				}
				.top-heading {
					grid-area: header;
					justify-self: center;
					@include sm-md {
						display: none;
					}
				}
				.content-logo {
					grid-area: logo;
					align-self: center;
					overflow: hidden;
					border-radius: 50px;
					max-height: 400px;
					min-width: 300px;
					max-width: 500px;
					img {
						width: 100%;
					}
				}

				.name {
					grid-area: text1;
					display: flex;
					gap: 15px;
					@include sm-md {
						align-self: end;
					}
				}
				.profession {
					grid-area: text2;
					display: flex;
					gap: 15px;
				}
				.description {
					grid-area: text3;
					display: flex;
					gap: 15px;
				}
				.socials {
					grid-area: text4;
					align-self: end;
					display: flex;
					gap: 15px;
					font-size: 20px;
					@include sm-md {
						justify-self: end;
					}
				}

				.contact-btn {
					grid-area: button;
					align-self: center;
					justify-self: end;
					@include sm-md {
						justify-self: center;
					}
				}

				.contact-email {
					grid-area: email;
					align-self: center;
					white-space: nowrap;
					@extend .text-sm;
					flex: 1;
					a {
						&::before {
							content: "–⁠–⁠–⁠–⁠⁠–⁠–⁠⁠–⁠–⁠";
							margin-right: 10px;
						}
						@include sm {
							&::before {
								content: "–⁠–⁠";
								margin-right: 10px;
							}
						}
					}
				}
			}
		}

		.about {
			padding: 50px 0;
			margin: 20px $layout-side-padding;
			max-width: $layout-max-width;
			width: calc(
				min(100% - #{$layout-side-padding * 2}, #{$layout-max-width})
			);
			@include sm-md {
				margin: 20px 0;
				width: 100%;
			}
			background-color: $bg-dark-secondary;
			transition: background-color ease-in-out 0.2s;
			border-radius: 25px;
		}
	}
	.appearance-toggle {
		&.absolute {
			position: fixed;
			z-index: 3;
			top: 22px;
			right: 30px;
			@extend .text;
			@include sm {
				display: none;
			}
		}
	}

	a,
	button {
		transition: color ease-in-out 0.2s, border-color ease-in-out 0.2s;
		&:hover {
			color: $tag-color;
			border-color: $tag-color !important;
		}
	}
}
