@import "mixins";
@import "scrollbar";

.timeline-container {
	padding: 25px 50px;
	@include sm-md {
		padding: 25px 15px;
	}
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	.line-container {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-end: span 10;
		margin: auto;
		@include sm-md {
			margin: 0;
			margin-left: auto;
		}
		.top-title {
			@extend .h3;
			padding-bottom: 20px;
			@include sm-md {
				font-size: 18px;
				font-weight: 500;
			}
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		width: min-content;
		height: 100%;
		.triangle-up {
			width: 0;
			height: 0;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom-width: 40px;
		}

		.rhombus {
			border-width: calc(35.7px / 2);
			transform: rotate(45deg);
		}

		.line {
			height: inherit;
			width: 0;
			border-width: 5px;
			@include sm-md {
				border-width: 3px;
			}
			position: relative;
			.line-point {
				display: flex;
				gap: 20px;
				align-items: center;
				@extend .circle;
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				&::before {
					content: "";
					@extend .circle;
					height: 50% !important;
					width: 50% !important;
					background-color: $tag-color !important;
					position: absolute;
					right: 50%;
					transform: translate(50%, 0);
				}
				&::after {
					@extend .text;
					position: absolute;
					left: 60px;
					@include sm-md {
						left: 40px;
						font-size: 15px;
					}
				}
			}

			#y2022 {
				top: 100px;
				&::after {
					content: "2022";
				}
			}

			#y2021 {
				top: 300px;
				&::after {
					content: "2021";
				}
			}
		}

		.circle {
			border-radius: 50%;
			height: 50px;
			width: 50px;
			@include sm-md {
				height: 30px;
				width: 30px;
			}
		}
	}

	.event {
		grid-area: event;
		@extend .text;
		display: grid;
		grid-template-areas:
			"name detail"
			"description description"
			"tags tags";
		.event__name {
			grid-area: name;
			@extend .h3;
		}
		.event__detail {
			grid-area: detail;
		}
		.event__description {
			grid-area: description;
		}
		.event__tags {
			grid-area: tags;
			gap: 10px;
			display: flex;
			flex-wrap: wrap;
			.tag {
				background-color: $tag-color;
				color: $bg-dark;
				border-radius: 20px;
				padding: 15px 10px;
			}
		}
	}
}
