@import "mixins";
@import "scrollbar";

.timeline-container {
	display: grid;
	grid-template-columns: [first-col] auto [sec-col] repeat(10, auto) [last-col];
	column-gap: 20px;
	height: 1000px;
	padding: 0 50px;
	grid-template-rows: [first-row] 10px repeat(99, 10px) 10px [last-row];
	@include sm {
		padding: 0 $layout-side-padding-sm;
	}
	.line-container {
		grid-row: first-row / last-row;
		@include sm-md {
			margin: 0;
			margin-left: auto;
		}
		.top-title {
			@extend .h3;
			padding-bottom: 20px;
			@include sm-md {
				font-size: 18px;
				font-weight: 500;
			}
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		width: min-content;
		height: 100%;
		.triangle-up {
			width: 0;
			height: 0;
			border-left: 25px solid transparent;
			border-right: 25px solid transparent;
			border-bottom-width: 40px;
		}

		.rhombus {
			border-width: calc(35.7px / 2);
			transform: rotate(45deg);
		}

		.line {
			height: inherit;
			width: 0;
			border-width: 5px;
			@include sm-md {
				border-width: 3px;
			}
			position: relative;
			.line-point {
				display: flex;
				gap: 20px;
				align-items: center;
				@extend .circle;
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				&::before {
					content: "";
					@extend .circle;
					height: 50% !important;
					width: 50% !important;
					background-color: $tag-color !important;
					position: absolute;
					right: 50%;
					transform: translate(50%, 0);
				}
				&::after {
					@extend .text;
					position: absolute;
					left: 60px;
					@include sm-md {
						left: 40px;
						font-size: 15px;
					}
				}
			}

			#y2022 {
				top: 100px;
				&::after {
					content: "2022";
				}
			}

			#y2021 {
				top: 300px;
				&::after {
					content: "2021";
				}
			}
		}

		.circle {
			border-radius: 50%;
			height: 50px;
			width: 50px;
			@include sm-md {
				height: 30px;
				width: 30px;
			}
		}
	}

	.event {
		max-width: 500px;
		height: fit-content;
		padding: 20px 30px;
		display: grid;
		grid-column: 2 / last-col;
		grid-template-areas:
			"name detail"
			"date detail"
			"tags tags"
			"description description";
		border: 2px solid $text;
		border-radius: 20px;
		@extend .text;
		@extend .shadow;

		.event__name {
			grid-area: name;
			@extend .h3;
		}
		.event__detail {
			grid-area: detail;
			background-color: $bg-dark;
			border: 2px solid $tag-color;
			color: $tag-color;
			border-radius: 20px;
			width: fit-content;
			height: fit-content;
			justify-self: end;
			align-self: center;
		}
		.event__description {
			grid-area: description;
			padding-top: 10px;
		}
		.event__tags {
			grid-area: tags;
			gap: 10px;
			display: flex;
			flex-wrap: wrap;
			padding-top: 10px;
			.tag {
				background-color: $tag-color;
				color: $bg-dark;
				border-radius: 20px;
				padding: 6px 12px;
				@extend .text-sm;
				@extend .shadow-sm;
			}
		}
		.event__date {
			grid-area: date;
			padding-top: 5px;
			@extend .text-xs;
		}
	}
}
