//colors
$bg-dark: #001724;
$bg-dark-secondary: #012f3e;
$bg-dark-contact: #002337;
$bg-bright-contact: #c1dad2;
$bg-bright: #e7f3ea;
$bg-bright-secondary: #cce3d2;

$primary-color: #efbe40;
//same as primary color
$tag-color: #efbe40;

$text: #b3f1d0;
//same as bg color
$text-dark: #001724;

$error: #ff5b5b;

//layout
$layout-side-padding: 75px;
$layout-side-padding-sm: 20px;
$layout-max-width: 1200px;

//breakpoints
$screen-sm-min: 0px;
$screen-md-min: 650px;
$screen-lg-min: 850px;
