//colors
$bg-color: #001724;
$primary-color: #2b7200;
$primary-color-bright: #3fa401;
$secondary-color: #2a7b7b;

$text-light: #b3f1d0;

//breakpoints
$screen-sm-min: 0px;
$screen-md-min: 480px;
$screen-lg-min: 740px;
$screen-xl-min: 992px;
