<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/public/styles.css" />
		<title>Labnet</title>
		<script type="module" src="./scripts/public/navigation.js" t></script>
	</head>
	<body>
		<div class="main-page">
			<div class="container">
				<div class="top-heading">
					<div class="h1">BizonTek</div>
				</div>
				<div class="content-main">
					<div class="content-text-part"></div>
					<div class="content-logo-part"></div>
				</div>
				<div class="content-footer">
					<a
						href="mailto:jiri.malec@bizontek.cz"
						type="button"
						class="contact-button"
					>
						Napište mi!
					</a>
					<div class="bullet-point">
						<a href="mailto:jiri.malec@bizontek.cz" type="button"
							>jiri.malec@bizontek.cz</a
						>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
