<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/public/styles.css" />
		<link href="styles/fontawesome/css/all.css" rel="stylesheet" />
		<title>BizonTek | Jiří Malec</title>
		<script type="module" src="./scripts/public/navigation.js" t></script>
	</head>
	<body>
		<div class="container">
			<nav>
				<div class="navigation">
					<div class="title-part">
						<div class="logo">
							<img src="./img/logo.png" />
						</div>
						<button class="title">BizonTek</button>
					</div>
					<div class="menu">
						<div class="link">
							<button>O mně</button>
						</div>
						<div class="link">
							<button>Co vytvářím</button>
						</div>
						<div class="nav-contact-btn">
							<button class="btn btn-contact btn-sm btn-animated">
								Napište mi!
							</button>
						</div>
					</div>
				</div>
			</nav>
			<div class="hp">
				<div class="appearance-toggle">
					<button><i class="fal fa-sun"></i></button>
				</div>
				<div class="hp-grid">
					<div class="top-heading">
						<div class="h1">BizonTek</div>
					</div>
					<span></span>

					<div class="content-logo">
						<img src="./img/logo.png" />
					</div>
					<div class="content-text">
						<div class="h1">Jiří Malec</div>
						<div class="h3">Softwarový vývojář</div>
						<div class="text">
							Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Donec quis nibh at felis congue commodo. Nulla
							pulvinar eleifend sem. Nulla non lectus sed nisl
							molestie malesuada. Aenean vel massa quis mauris
							vehicula lacinia. Etiam dui sem, fermentum vitae,
							sagittis id, malesuada in, quam. Pellentesque
							sapien.
						</div>
						<div class="socials">
							<a href="#">
								<i class="fab fa-linkedin fa-lg"></i>
							</a>
							<a href="#">
								<i class="fab fa-github fa-lg"></i>
							</a>
						</div>
					</div>
					<div class="footer">
						<div class="contact-email">
							<a
								href="mailto:jiri.malec@bizontek.cz"
								type="button"
								>jiri.malec@bizontek.cz</a
							>
						</div>
						<div class="contact-btn">
							<button class="btn btn-contact btn-animated">
								Napište mi!
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="about">
				<div class="about-container">
					<div class="timeline-frame">
						<div class="timeline-frame-scroll">
							<div class="timeline-container"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
