<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/public/styles.css" />
		<link href="styles/fontawesome/css/all.css" rel="stylesheet" />
		<title>BizonTek | Jiří Malec</title>
		<script type="module" src="./scripts/public/navigation.js" t></script>
	</head>
	<body>
		<div class="container">
			<nav>
				<div class="navigation-container">
					<div class="navigation">
						<div class="title-part">
							<div class="logo">
								<img src="./img/logo.png" />
							</div>
							<button class="title">BizonTek</button>
						</div>
						<div class="menu" id="menu-container">
							<div class="menu-bars-container">
								<button
									id="menu-bars-toggle"
									class="menu-bars appearance-border"
								>
									<span class="bars">
										<i class="fal fa-bars"></i>
									</span>
									<span class="times">
										<i class="fal fa-times"></i>
									</span>
								</button>
							</div>
							<div class="menu-items">
								<div>
									<button>O mně</button>
								</div>
								<div>
									<button>Co vytvářím</button>
								</div>
								<div class="nav-contact-btn">
									<button
										class="btn btn-contact btn-sm btn-animated appearance-color"
									>
										Napište mi!
									</button>
								</div>
							</div>
							<div class="appearance-toggle">
								<button class="sun">
									<i class="fal fa-sun"></i>
								</button>
								<button class="moon">
									<i class="fal fa-moon"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</nav>
			<div class="appearance-toggle absolute">
				<button class="sun">
					<i class="fal fa-sun"></i>
				</button>
				<button class="moon">
					<i class="fal fa-moon"></i>
				</button>
			</div>
			<div class="hp section">
				<div class="background-image">
					<img src="./img/logo_stroke.png" />
				</div>
				<div class="hp-grid">
					<div class="content-logo">
						<img src="./img/profile-image.jpg" />
					</div>

					<div id="title-name" class="h1 name">Jiří Malec</div>
					<div id="title-profession" class="h3 profession">
						Softwarový vývojář
					</div>
					<div class="text description">
						Lorem ipsum dolor sit amet, consectetuer adipiscing
						elit. Donec quis nibh at felis congue commodo. Nulla
						pulvinar eleifend sem. Nulla non lectus sed nisl
						molestie malesuada. Aenean vel massa quis mauris
						vehicula lacinia. Etiam dui sem, fermentum vitae,
						sagittis id, malesuada in, quam. Pellentesque sapien.
					</div>
					<div class="socials">
						<a href="#">
							<i class="fab fa-linkedin fa-lg"></i>
						</a>
						<a href="#">
							<i class="fab fa-github fa-lg"></i>
						</a>
					</div>

					<div class="contact-email">
						<a href="mailto:jiri.malec@bizontek.cz" type="button"
							>jiri.malec@bizontek.cz</a
						>
					</div>
					<div class="contact-btn">
						<button
							id="main-button"
							class="btn btn-contact btn-animated appearance-color"
						>
							Napište mi!
						</button>
					</div>
				</div>
			</div>
			<div class="about">
				<div class="timeline-container">
					<div class="line-container">
						<div class="top-title">Současnost</div>
						<div class="triangle-up appearance-border-bottom"></div>
						<div class="line appearance-border"></div>
						<div class="rhombus appearance-border"></div>
					</div>
					<div
						class="line-point appearance-bg-color"
						id="y-2022"
					></div>

					<div class="event" style="grid-row: 30">
						<div class="event__name">LabClub</div>
						<div class="event__date">léto 2020</div>
						<button class="event__detail btn btn-sm btn-animated">
							Více
						</button>
						<div class="event__description">
							Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Mauris dolor felis, sagittis at, luctus sed,
							aliquam non, tellus. Phasellus enim erat, vestibulum
							vel, aliquam a, posuere eu, velit. Etiam dictum
							tincidunt diam. Maecenas libero. Morbi leo mi,
							nonummy eget tristique non, rhoncus non leo.
						</div>
						<div class="event__tags">
							<div class="tag">JAVA</div>
							<div class="tag">Bakalářská práce</div>
							<div class="tag">MySQL</div>
						</div>
					</div>
					<div
						class="line-point appearance-bg-color"
						id="y-2021"
					></div>
					<div class="event" style="grid-row: 130">
						<div class="event__name">LabClub</div>
						<div class="event__date">léto 2020</div>
						<button class="event__detail btn btn-sm btn-animated">
							Více
						</button>
						<div class="event__description">
							Lorem ipsum dolor sit amet, consectetuer adipiscing
							elit. Mauris dolor felis, sagittis at, luctus sed,
							aliquam non, tellus. Phasellus enim erat, vestibulum
							vel, aliquam a, posuere eu, velit. Etiam dictum
							tincidunt diam. Maecenas libero. Morbi leo mi,
							nonummy eget tristique non, rhoncus non leo.
						</div>
						<div class="event__tags">
							<div class="tag">JAVA</div>
							<div class="tag">Bakalářská práce</div>
							<div class="tag">MySQL</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="./js/scripts.js"></script>
</html>
